{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mb-3" style="margin-top: 3em;">
    <div class="row justify-content-center" style="margin-top: 5em;">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <a href="{% url 'place_order' %}">Go to the Place Order</a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-5 col-sm-12 text-center">
            <form action="{% url 'confirm_order' %}" method="POST">
                {% csrf_token %}
                <h3 class="pb-3">Order Summary:</h3>
                {% for item in items %}
                    <p>{{ item.name }} <span class="pl-3">{{ item.price }} ETB</span></p>
                {% endfor %}
                <input type="hidden" name="item_ids" value="{{ item_ids }}">
                <input type="hidden" name="quantity_list" value="{{ quantity_list }}">
                <input type="hidden" name="extra_food_collection" value="{{ extra_food_collection }}">
                <div class="form-group">
                    Total Price:
                    <input type="text" name="price" value="{{ price }}" readonly> ETB
                </div>
                <br>
                <div class="form-group">
                    <label>Comment Box</label>
                    <textarea name="comment_box" class="form-control" cols="30" rows="10" value="{{ comment_box }}" readonly></textarea>
                </div>
                <button class="btn btn-dark mt-5" type="submit">Confirm Order!</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}