{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<div id="console">
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Order Traffic</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Order Traffic</li>
        </ol>
      </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
  <div class="container">
    {% include 'includes/alerts.html' %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <td scope="col">Email</td>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
          <tr>
            <td
            {% if  user == order.ordering_user  %} 
            style="background-color: yellow;"
            {% endif %}
            >
              <table class="table table-sm">
                <tr>
                  <td>
                    * {{ order.ordering_user.email }}
                    {% if order.ready %}
                    <span style="background-color: green; margin-left: 60em; padding: 8px; color: white;"> Ready </span>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>
                    {{ order.ordering_user.phone_number }}
                  </td>
                </tr>
              </table>
            </td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
</div>