{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Order History</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Order History</li>
        </ol>
      </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <td scope="col">Email</td>
          <td scope="col">Foods Ordered</td>
        </tr>
      </thead>
      <tbody>
          {% for order in orders %}
        <tr>
          <td>
            <table class="table table-sm">
              <tr>
                <td>* {{ order.ordering_user.email }}</td>
              </tr>
              <tr>
                <td>{{ order.ordering_user.phone_number }}</td>
              </tr>
            </table>
          </td>
          <td>
            <table class="table table-sm">
              {% for item in order.food_menu.all %}
              <tr>
                <td><span>*</span> {{ item }}</td>
              </tr>
              {% endfor %}
            </table>
          </td>
        </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}