{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Place Order</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Place Order</li>
        </ol>
      </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
  <div class="container mb-5">
    <div class="row mt-1">
        <div class="col-md-12 col-sm-12">
            <form action="{%url 'order' %}" method="POST">
                {% csrf_token %}
                <div class="pt-5">
                  {% for menu in menus %}
                  <div class="row">
                      <div class="col-md-2 col-sm-12">
                          <img class="rounded" src="{{ menu.image.url }}" width="100" height="100"/>
                      </div>
                      <div class="col-md-8 col-sm-12">
                        <div class="row">
                              <div class="form-group form-check col">
                                  <input type="checkbox" id="{{ menu.pk }}" name="items" class="form-check-input" value="{{ menu.pk }}">
                                  <label class="form-check-label">{{ menu.name }}</label>
                              </div>
                                <div class="form-group col">
                                  <p class="font-weight-bold pl-5" style="color: red;">{{ menu.price }} ETB</p>
                                </div>
                                <div class="form-group col">
                                  Quantity
                                  <input type="number" id="quantity_{{ menu.id }}" name="quantities" min="1" max="10" disabled="true" value="1">
                                </div>
                              </div>
                              <br>
                              {% if menu.with_extra %}
                              <div class="container">
                                  <div class="row">
                                    <div class="col align-self-start"></div>
                                  <div class="col align-self-center"></div>
                                  <div class="col align-self-end">
                                    <label>With</label>
                                    <input type="checkbox" id="with_extra_{{ menu.id }}" name="with_extra" class="form-check-input">
                                    <select name="extra_food_collection" id="extra_food_{{ menu.id }}" disabled="true">
                                      {% for item in extra_food_list %}
                                      <option>{{ item }}</option>
                                      {% endfor %}
                                    </select>
                                  </div>
                                  </div>
                              </div>
                              {% endif %}
                         <p>{{ menu.description }}</p>
                      </div>
                    </div>
                    <hr/>
                    <script>
                      document.getElementById('{{ menu.pk }}').onchange = function() {
                        document.getElementById('quantity_{{ menu.pk }}').disabled = !this.checked;
                      }
                      document.getElementById('with_extra_{{ menu.id }}').onchange = function(){
                        document.getElementById('extra_food_{{ menu.id }}').disabled = !this.checked
                      }
                    </script>
                 {% endfor %}
                </div>
                <br>
                <div class="form-group">
                  <label>Comment Box</label>
                  <textarea name="comment_box" class="form-control" cols="30" rows="10" style="max-width: 300px;"></textarea>
                </div>
                <button class="btn btn-dark mt-5" type="submit">Place Order!</button>
            </form>
</section>
{% endblock %}