{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Place Order</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Place Order</li>
        </ol>
      </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
  <div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form action="{%url 'order'%}" method="POST">
                {% csrf_token %}
                <div class="pt-5">
                  {% for menu in menus %}
                  <div class="row">
                      <div class="col-md-2 col-sm-12">
                          <img class="rounded" src="{{ menu.image.url }}" width="150" height="100"/>
                      </div>
                      <div class="col-md-8 col-sm-12">
                              <div class="form-group form-check">
                                <input type="hidden" id="hidden">
                                  <input type="checkbox" id="{{ menu.pk }}" name="items" class="form-check-input" value="{{ menu.pk }}">
                                  <label class="form-check-label">{{ menu.name }}</label>
                              </div>
                              <br>
                              <div class="form-group">
                                <p class="font-weight-bold pl-5">{{ menu.price }}</p>
                              </div>
                              <div class="form-group">
                                <input type="number" id="quantity_{{ menu.id }}" name="quantities" min="1" max="10" disabled="true" value="1">
                              </div>
                         <p>{{ menu.description }}</p>
                      </div>
                    </div>
                    <hr/>
                    <script>
                      document.getElementById('{{ menu.pk }}').onchange = function() {
                        document.getElementById('quantity_{{ menu.pk }}').disabled = !this.checked;
                      }
                    </script>
                 {% endfor %}
                </div>
                <button class="btn btn-dark mt-5" type="submit">Place Order!</button>
            </form>
</section>
{% endblock %}