{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>Record</h2>
        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Record</li>
        </ol>
      </div>

    </div>
</section><!-- End Breadcrumbs -->
<section class="inner-page">
  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td scope="col">Email</td>
            <td scope="col">Food Ordered</td>
            <td scope="col">Quantity</td>
            <td scope="col">With</td>
            <td scope="col">Price</td>
            <td scope="col">Created At</td>
          </tr>
        </thead>
        <tbody>
            {% for order in orders %}
          <tr>
            <td>
              <table class="table table-sm">
                <tr>
                  <td>{{ order.ordering_user.email }}</td>
                </tr>
                <tr>
                  <td>{{ order.ordering_user.phone_number }}</td>
                </tr>
              </table>
            </td>
            <td>
              <table class="table table-sm">
                {% for item in order.food_menu.all %}
                <tr>
                  <td><span>*</span> {{ item }}</td>
                </tr>
                {% endfor %}
              </table>
            </td>
            <td>
              {{ order.get_quantity }} 
            </td>
            <td>
              {% if order.extra_food %}
              {{ order.get_extra_food }}
              {% else %}
              No Extra food
              {% endif %}
            </td>
            <td>{{ order.price }} ETB</td>
            <td>{{ order.created_on }}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
